UgolkiClient/Service References/Service/UgolkiService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/UgolkiService/UgolkiService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UgolkiService" />
  <xs:complexType name="ArrayOfArrayOfint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfint" nillable="true" type="tns:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfint" nillable="true" type="tns:ArrayOfArrayOfint" />
  <xs:complexType name="ArrayOfint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="int" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfint" nillable="true" type="tns:ArrayOfint" />
  <xs:complexType name="ArrayOfKeyValueOfMovedoublep9bd0NIA">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfMovedoublep9bd0NIA">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UgolkiService" name="Key" nillable="true" type="q1:Move" />
            <xs:element name="Value" type="xs:double" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfMovedoublep9bd0NIA" nillable="true" type="tns:ArrayOfKeyValueOfMovedoublep9bd0NIA" />
</xs:schema>